@font-face {
  font-family: "Avenir";
  src: url(../Assets/Font/AvenirNextLTPro-Regular.otf);
}
body {
  margin: 0%;
  padding: 0%;
  font-family: "Avenir";
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 820px) {
  .header {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1180px) {
  .header {
    flex-direction: row;
  }
}
.header__logo {
  height: 1.5rem;
  justify-content: center;
  padding-left: 7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media only screen and (min-width: 820px) {
  .header__logo {
    padding-left: 3rem;
    height: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 1180px) {
  .header__logo {
    height: 1.5rem;
  }
}
.header--sub {
  display: flex;
}

.header__logo--sub {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1.5rem;
}
@media only screen and (min-width: 820px) {
  .header__logo--sub {
    font-size: larger;
    padding-left: 3rem;
    padding-top: 2rem;
  }
}

.header__logo--bio {
  height: 0.5rem;
  color: #FFFFFF;
}
@media only screen and (min-width: 820px) {
  .header__logo--bio {
    padding-right: 3rem;
  }
}

.header__logo--shows {
  height: 0.5rem;
  color: #FFFFFF;
}

.heroimage {
  width: 100%;
  background-image: url(../Assets/Images/hero-bio.jpg);
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heroimage__text {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 700;
  padding-left: 2rem;
}
@media only screen and (min-width: 820px) {
  .heroimage__text {
    font-size: 3rem;
  }
}

.aboutpage {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}
@media only screen and (min-width: 820px) {
  .aboutpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
@media only screen and (min-width: 820px) {
  .aboutpage__content {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media only screen and (min-width: 1180px) {
  .aboutpage__content {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}
@media only screen and (min-width: 820px) {
  .aboutpage__title {
    padding-left: 2rem;
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 1180px) {
  .aboutpage__title {
    padding-left: 8rem;
    font-size: 3rem;
    font-weight: bolder;
  }
}
.aboutpage__image {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 820px) {
  .aboutpage__image {
    width: 100%;
    height: 70%;
  }
}
@media only screen and (min-width: 1180px) {
  .aboutpage__image {
    height: 40rem;
  }
}
.aboutpage__qoute {
  font-weight: 600;
}
@media only screen and (min-width: 820px) {
  .aboutpage__qoute {
    font-weight: 800;
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1180px) {
  .aboutpage__qoute {
    font-weight: 800;
    font-size: 2rem;
    padding-top: 1rem;
  }
}
.aboutpage__name {
  font-weight: 600;
}
@media only screen and (min-width: 820px) {
  .aboutpage__name {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1180px) {
  .aboutpage__name {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 820px) {
  .aboutpage__info--para {
    display: flex;
  }
}
@media only screen and (min-width: 820px) {
  .aboutpage__info--para1 {
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 1180px) {
  .aboutpage__info--para1 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1180px) {
  .aboutpage__info--para2 {
    font-size: 1.2rem;
  }
}

.aboutpage__info--title {
  font-weight: 800;
  font-size: 2rem;
}

.photos {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 1rem 1.5rem;
}
@media only screen and (min-width: 820px) {
  .photos {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1180px) {
  .photos {
    padding-left: 4rem;
  }
}
.photos__images {
  height: 100%;
  width: 100%;
  margin-top: 0.5rem;
}
@media only screen and (min-width: 820px) {
  .photos__images {
    height: 14rem;
    width: 15.5rem;
    padding-right: 0.2rem;
  }
}
@media only screen and (min-width: 1180px) {
  .photos__images {
    height: 18rem;
    width: 27rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}
.photos__heading {
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
@media only screen and (min-width: 1180px) {
  .photos__heading {
    padding-left: 10rem;
    font-weight: bolder;
  }
}

.photos__images1 {
  justify-content: center;
}
@media only screen and (min-width: 820px) {
  .photos__images1 {
    justify-content: center;
  }
}
@media only screen and (min-width: 1180px) {
  .photos__images1 {
    padding-left: 10rem;
  }
}

@media only screen and (min-width: 1180px) {
  .C {
    padding-left: 4rem;
    justify-content: center;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #FFFFFF;
  padding: 0 1.5rem;
}
@media only screen and (min-width: 820px) {
  .footer {
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 1180px) {
  .footer {
    padding-left: 6rem;
  }
}
.footer__logos {
  list-style: none;
  display: flex;
  padding-left: 0%;
}
@media only screen and (min-width: 820px) {
  .footer__logos {
    padding-left: 1.5rem;
    padding-top: 0.5rem;
  }
}
.footer_img {
  padding-right: 1.5rem;
  height: 1.5rem;
}

@media only screen and (min-width: 820px) {
  .footer__heading {
    display: flex;
  }
}

.contactinfo {
  padding-bottom: 2rem;
}
.contactinfo__contact {
  padding-bottom: 1rem;
}
@media only screen and (min-width: 820px) {
  .contactinfo__contact {
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 1180px) {
  .contactinfo__contact {
    padding-right: 3rem;
  }
}
@media only screen and (min-width: 820px) {
  .contactinfo {
    display: flex;
    flex-direction: row;
  }
}
.contactinfo__email {
  text-decoration: none;
  color: #FFFFFF;
}

.contactinfo__name {
  margin-bottom: 0%;
}

.contactinfo__tite {
  margin-top: 0%;
}

.contactinfo__add {
  margin-bottom: 0%;
}

.contactinfo__add2 {
  margin-top: 0%;
}

.contactinfo__ad {
  margin-top: 0%;
}

.footerlogo {
  height: 2.5rem;
  width: 7rem;
}
@media only screen and (min-width: 820px) {
  .footerlogo {
    display: flex;
    order: -1;
    justify-content: flex-end;
    justify-content: right;
    align-self: flex-end;
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 1180px) {
  .footerlogo {
    padding-right: 8rem;
    height: 4rem;
    width: 9rem;
  }
}/*# sourceMappingURL=bio.css.map */